<% include partials/header %>

<div class="hero">
	<h1>Welcome to chat app.</h1>
	<p>To get started open each user's chat box in a separate window by clicking the links below. I advise to test it by viewing the two seperate windows simultaneously to test the WebSockets.</p>

	<div class="row">
		<div class="col-md-4">
			<a href="/users/1" target="_blank" class="btn btn-lg btn-primary">Open Maria's Chat Box</a>
		</div>
		<div class="col-md-4">
			<a href="/users/2" target="_blank" class="btn btn-lg btn-info">Open Juan's Chat Box</a>
		</div>
	</div>

</div>

<% include partials/footer %>